body
{
	margin:0;
	font-family:"Inter",sans-serif
}

.validacao-de-codigo
{
	width:100%;
	position:relative;
	background-color:#292929;
	height:1080px;
	overflow:hidden;
	text-align:left;
	color:#000
}

.icone-ferramentas
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:auto;
	object-fit:cover;
	z-index:0
}

.container-grupo
{
	position:relative;
	padding:20px;
	z-index:1;
	background-color:rgba(227,182,58,1);
	text-align:center;
	margin-top:100px;
	width:auto;
	margin-left:27%;
	margin-right:27%;
	border-radius:10px;
	height:auto
}

.campos-codigo
{
	display:flex;
	justify-content:space-between;
	margin:20px 0;
	width:250px;
	margin-left:28%;
	margin-right:28%
}

input
{
	border:none
}

.mensagem-codigo
{
	font-size:20px;
	color:#fff;
	margin:10px 100px
}

.campo-1,.campo-2,.campo-3,.campo-4,.campo-5,.campo-6
{
	width:15%;
	height:40px;
	background-color:#c9c9c9;
	border-radius:5px;
	text-align:center;
	line-height:40px;
	font-size:18px
}

.imagem-grupo
{
	display:block;
	margin:0 auto
}

.confirmar
{
	margin-top:20px
}

.botao-enviar
{
	padding:10px 20px;
	background-color:#3abd0b;
	border-radius:5px;
	color:#fff;
	cursor:pointer;
	font-weight:700;
	font-size:18px;
	border-color:#3abd0b
}

.botao-enviar:hover
{
	background-color:#1d5f06;
	border-color:#3abd0b;
	transition:background-color 0.3s,color .3s
}

.titulo-redefinicao
{
	font-size:48px;
	color:#fff;
	margin:20px 0
}

.label-codigo
{
	display:block;
	font-size:25px;
	color:#fff;
	margin:10px 0
}

.link
{
	color:#175568;
	font-size:14px;
	display:block;
	margin-top:20px;
	text-align:center;
	text-decoration:none;
	cursor:pointer;
	margin-right:4%
}

.link:hover
{
	text-decoration:underline
}
